* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  text-align: center;
}

nav {
  padding: 0 5%;
  background: white;
}

main {
  margin-top: 3rem;
}

h1 {
  font-size: 4.5rem;
  font-weight: 700;
  padding: 0 1rem;
}

h2,
h3 {
  font-size: 4rem;
  font-weight: 700;
}

p {
  font-size: 1.125rem;
  line-height: 1.725rem;
  margin-top: 4rem;
}

footer {
  background: #f9f7fe;
  padding: 2rem 0 1rem 0;
}

footer p {
  margin-top: 0;
}

.about-me {
  display: flex;
  align-items: center;
  padding: 4rem 10%;
}

.profile-picture {
  border-radius: 12px;
  width: 50%;
  height: auto;
}

.about-content {
  text-align: start;
  margin-left: 2rem;
}

.recipe-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2rem 5%;
}

.recipe-card {
  margin: 0 1.25rem 3.125rem 1.25rem;
  text-decoration: none;
  color: black;
  transition: all 200ms ease-in-out;
}

.recipe-card:hover > h4 {
  text-decoration: underline;
  cursor: pointer;
}

.recipe-card:hover > p {
  color: black;
}

.recipe-card img {
  border-radius: 12px;
}

.recipe-card h4 {
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 1.25rem;
  text-align: start;
}

.recipe-card p {
  text-align: start;
  margin-top: 1rem;
}

@media (max-width: 1200px) {
  h2,
  h3 {
    font-size: 3rem;
  }

  p {
    margin-top: 3rem;
  }

  .recipe-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }

  h2,
  h3 {
    font-size: 2rem;
  }

  p {
    margin-top: 2rem;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 3rem;
  }

  p {
    margin-top: 1rem;
  }

  .about-me {
    flex-direction: column;
  }

  .profile-picture {
    width: 100%;
  }

  .about-content {
    margin: 2rem 0 0 0;
  }

  .recipe-grid {
    grid-template-columns: 1fr;
  }
}
